.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container input,
.container select {
    padding: 20px;
    border: 0;
    border-radius: 5px;
    background-color: var(--bgSoft);
    color: var(--text);
}

.container button {
    padding: 20px;
    color: var(--text);
    background-color: var(--btn);
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
